<section id="specification" class="page-section specification">
    <div class="container">
        <div class="page-section__wrapper">
        <h3 class="title">Характеристики</h3>
        <div class="specification__inner">
            <div class="specification__item">
                <div class="specification__box specification__box-1">
                    <h4 class="specification__box-title">Dlog-M 10 бит</h4>
                    <p class="specification__box-text">
                        Mavic 2 Pro поддерживает цветовой профиль 
                        Dlog-M 10 бит с более широким динамическим 
                        диапазоном, дающим больше возможностей для 
                        цветокоррекции.
                    </p>
                </div>
                <div class="specification__box specification__box-2">
                    <h4 class="specification__box-title">Камера Hasselblad</h4>
                    <p class="specification__box-text">
                        Камера Hasselblad L1D-20С 
                        известны эргономичным дизайном 
                        и превосходным качеством изображений. 
                    </p>
                </div>
            </div>
            <div class="specification__item">
                <img src="../../assets/images/mavic.png" alt="">
            </div>
            <div class="specification__item ">
                <div class="specification__box specification__box-3">
                    <h4 class="specification__box-title">Матрица CMOS 1</h4>
                    <p class="specification__box-text">
                        Зона активной работы новой 
                        1-дюймовой матрицы CMOS в четыре 
                        раза превышает показатели Mavic Pro
                    </p>
                </div>
                <div class="specification__box specification__box-4">
                    <h4 class="specification__box-title">Видео HDR</h4>
                    <p class="specification__box-text">
                        Благодаря поддержке видео 4K HDR 10 бит, 
                        Mavic 2 Pro можно подсоединить к 
                        совместимому с HLG 4K ТВ и просматривать 
                        запись в полном цветовом спектре
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="scroll__btn">
        <a href="#" routerLink="/question">
            <img src="../../assets/images/arrow-down.svg" alt="">
        </a>
    </div>
    </div>
</section>
