<section id="contacts" class="page-section contacts">
    <div class="container">
        <div class="page-section__wrapper">
        <h3 class="title">Контакты</h3>
        <div class="contacts__inner">
            <div class="contacts__info">

                <div class="contacts__info-box">
                    <p class="contacts__info-title">Киев</p>
                    <a class="contacts__info-phone" href="tel:+80505676767">+8 (050) 567– 67 – 67</a>
                    <a class="contacts__info-email" href="mailto:dgi.mavic2pro.kiev@mail.ru">dgi.mavic2pro.kiev@mail.ru</a>
                </div>
                <div class="contacts__info-box">
                    <p class="contacts__info-title">Москва</p>
                    <a class="contacts__info-phone" href="tel:+74995676767">+7 (499) 567– 67 – 67</a>
                    <a class="contacts__info-email" href="mailto:dgi.mavic2pro.moscow@mail.ru">dgi.mavic2pro.moscow@mail.ru</a>
                </div>
                <div class="contacts__info-box">
                    <p class="contacts__info-title">Минск</p>
                    <a class="contacts__info-phone" href="tel:+375175676767">+3 (7517) 567– 67 – 67</a>
                    <a class="contacts__info-email" href="mailto:dgi.mavic2pro.minsk@mail.ru">dgi.mavic2pro.minsk@mail.ru</a>
                </div>

            </div>
            <div class="contacts__form">
                <h4 class="contacts__form-title">
                    Остались вопросы? 
                </h4>
                <p class="contacts__form-text">
                    Мы обязательно свяжемся с вами в течение двух рабочих дней
                </p>
                <div class="contacts__form-line">
                    <input class="contacts__form-input" placeholder="Ваше Имя" type="text">
                    <input class="contacts__form-input" placeholder="Ваш e-mail" type="text">
                </div>
                <textarea class="contacts__form-textarea" placeholder="Что Вас интересует?"></textarea>
                <button class="contacts__form-btn" type="submit">ОТПРАВИТЬ</button>
            </div>
            <ul class="contacts__social-list">
                <li class="contacts__social-item">
                    <a class="contacts__social-link" href="#">
                        <img src="../../assets/images/facebook.svg" alt="">
                    </a>
                </li>
                <li class="contacts__social-item">
                    <a class="contacts__social-link" href="#">
                        <img src="../../assets/images/youtube.svg" alt="">
                    </a>
                </li>
                <li class="contacts__social-item">
                    <a class="contacts__social-link" href="#">
                        <img src="../../assets/images/instagram.svg" alt="">
                    </a>
                </li>
            </ul>
        </div>
            <footer class="footer">
                <div class="container">
                    <p class="footer__copy">
                     © DJI, 2020
                    </p>
                </div>
            </footer>         
        </div>
          
    </div>
</section>
