
<section class="page-section top">
 <div class="page-section__wrapper top__wrapper">
    <div class="container">
      <div class="top__inner">
          <h1 class="top__title">Mavic 2 Pro</h1>
          <img class="top__img" src="../../assets/images/mavic.png" alt="">
          <p class="top__text">Квадрокоптер Dji Mavic 2 Pro 
            с профессиональной камерой Hasselblad
          </p>
          <ul class="top__social-list">
              <li class="top__social-item">
                  <a class="top__social-link" href="#">
                      <img src="../../assets/images/facebook.svg" alt="">
                  </a>
              </li>
              <li class="top__social-item">
                  <a class="top__social-link" href="#">
                      <img src="../../assets/images/youtube.svg" alt="">
                  </a>
              </li>
              <li class="top__social-item">
                  <a class="top__social-link" href="#">
                      <img src="../../assets/images/instagram.svg" alt="">
                  </a>
              </li>
          </ul>
      </div>
    </div>
    <div class="scroll__btn">
        <a href="#" routerLink="/about">
            <img src="../../assets/images/arrow-down.svg" alt="">
        </a>
    </div>
 </div>
</section>